.main, .main2  {
  background-color: #111315;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.bgCafe {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
}
.boxInfo {
  height: 600px;
  width: 800px;
  background-color: #1b1d1f;
  margin-top: 18px;
  border-radius: 15px;
  position: relative;
  padding-top: 7px;
}
.vector {
  position: absolute;
  z-index: 0;
  top: -12px;
  right: 145px;
  transform: scale(0.7);
  width: 286px;
}
.title {
  font-family: "DM Sans", sans-serif;
  color: #fef7ee;
  text-align: center;
  font-size: 23px;
  padding-top: 40px;
  position: relative;
}
.paragraph {
  font-family: "DM Sans", sans-serif;
  color: #6f757c;
  text-align: center;
  width: 65%;
  margin: auto;
  position: relative;
  font-size: 14px;
}
.boxButton {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.boxButton > button {
  font-family: "DM Sans", sans-serif;
  color: #fef7ee;
  padding: 6px 12px;
  margin: 8px 10px 0px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.coffeeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 218px 100px;
  margin: auto;
  transform: scale(0.9);
}

@media (max-width: 970px) {
  .paragraph {
    width: 75%;
  }
  .boxInfo {
    height: 95%;
    width: 601px;
  }
  .coffeeContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 218px 200px 200px;
  }
  .boxButton {
    margin-bottom: -10px;
  }
}

@media (max-width: 750px) {
  .boxInfo {
    width: 400px;
  }
  .coffeeContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 218px 200px 200px;
  }
}


@media (max-width: 480px) {
  .boxInfo {
    width: 100%;
    border-radius: 0px;
  }
}
